<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Tweets to CSV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <section class="fetch">
            <h3 class="mb-3">Fetch tweets and save to CSV</h3>
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="text" name ="keyword" class="form-control username" placeholder="Enter Keyword">
                    <input type="text" name ="qty" class="form-control qty" placeholder="Number of Tweets to fetch">
                    <small id="emailHelp" class="form-text text-muted">I recommend you fetch below 100 tweets for fast processing time </small>
                </div>
                <input type="submit" class="btn btn-primary" value="Fetch and Save to CSV">
            </form>
            <div class="fetched py-4">
                {% if fetched == True %}
                <h6 class="mt-3">Fetched Tweets for Keyword #{{keyword}}</h6>
                <a href="/download" class="btn btn-success" download="tweets.csv"> Download CSV </a>
                {% endif %}
            </div>
        </section>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

